/* ------------- */
/* General */
/* ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    /* color dark */
    --dark-blue1: 	#03002e;
    --dark-blue2: #1B1A55;
    --dark-blue3: #535C91;
    --dark-blue4: #9290C3;

    /* color light */
    --light-blue1: #6E85B7;
    --light-blue2: #B2C8DF;
    --light-blue3: #C4D7E0;
    --light-blue4: #F8F9D7
}

*{
    color: aliceblue !important;
}

body{
  background-image: url("./assets/bg-1.jpg");
}

/* ------------- */
/* NavBar */
/* ------------- */
.app-navbar{
  width: 100%;
}

.navbar{
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    padding: 0.3rem 0.2rem !important;
    font-size: 1.2rem !important;
    color: aliceblue !important;
    margin: 0px 3px 0px 3px !important;
}

.nav-blur{
    background: transparent !important;
    backdrop-filter: blur(10px) !important;
    filter: brightness(70%) !important;
}


.nav-link{
    padding: 0.3rem 1rem !important;
    color: aliceblue !important;
}

.navbar-brand{
    color: var(--light-blue2) !important;
    font-weight: 600 !important;
    font-size: 2rem !important;
    font-family: "Ubuntu Sans", sans-serif !important;
}

.navbar-brand img{
    width: 250px;
    height:80px;
    margin-bottom: 0.5rem;
    padding-bottom: 0rem;
    padding-top: 1rem; 
    filter: brightness(150%) !important;
  }

  .navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  .navbar-toggler span {
    display: block !important;
    background-color: #be50f4 !important;
    height: 4px !important;
    width: 27px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    transform: rotate(0deg) !important;
    left: 0 !important;
    opacity: 1 !important;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0 !important;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out !important;
    transition: transform 0.35s ease-in-out !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(135deg) !important;
    opacity: 0.9 !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px !important;
    visibility: hidden !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute !important;
    left: 12px !important;
    top: 10px !important;
    transform: rotate(-135deg) !important;
    opacity: 0.9 !important;
  }  

 /* --------- */
  /* Footer */
  /* --------- */
  .footer {
    background-color:transparent !important;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important ;
  }
  .footer-copywright {
    display: flex;
    text-align: center !important;
    align-items: center;
    justify-content: center;
  }
  
  .footer-copywright span {
   color: white;
   font-size: 1.3rem;
   margin-bottom: 1rem;
   padding-top: 0.3rem;
  }

  .footer-body {
    z-index: 1;
    text-align: center !important;
  }

  .social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (max-width: 767px) {
    .footer-copywright {
      text-align: center !important;
    }
  
    .footer-body {
      text-align: center !important;
    }
  }
  
  .footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
  }
  .footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 1rem !important;
    padding-top: 1.2rem !important;
  }
  
  .blockquote-footer {
    color: #a588c0 !important;
  }

  .footer-copywright img{
    width: 250px;
    height:80px;
    margin-bottom: 0.5rem;
    padding-bottom: 0rem; 
  }


  /* ------------- */
  /* Home */
  /* ------------- */
  .home-header {
    padding-top: 180px !important;
  }
  
  .home-photo {
    justify-content: center !important;
    padding-top: 9em !important;
    border: #03002e 1px;
    border-radius: 30%;
  }

  .home-photo img {
    width: 67% !important;
    height: 500px !important;
  }
  
  .heading, .heading-name{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }



  .home-content {
    font-family: "JetBrains Mono", monospace !important ;
  }
  
  .typewriter-box{
    font-size: 2.5rem;
    text-align: center;
  }
  
  .short-info{
    font-size: 1.2rem;
    padding: 15px;
    text-align: justify;
  }

  .home-about-social h1,p,ul{
    text-align: center;
  }

  @media (max-width: 767px) {
    .home-photo {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }